html {
  text-align: center;
}

h1 {
  color: rgb(33, 12, 83);
  text-align: center;
}

footer {
  text-align: center;
  border: 3px solid green;
  background-color: whitesmoke;
  margin-top: 10px;
}

#canvas {
  display: grid;
  /* grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows: 50px 50px 50px 50px; */
}

.pixel {
  background-color: rgb(168, 168, 201);
  border:1px solid rgb(33, 12, 83)
}