html {
  text-align: center;
}

h1 {
  color: rgb(33, 12, 83);
  text-align: center;
}

footer {
  text-align: center;
  border: 3px solid green;
  background-color: whitesmoke;
  margin-top: 10px;
}

#canvas {
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  width: 400px;
  display: grid;

}

.pixel {
  background-color: rgb(168, 168, 201);
  border:1px solid rgb(33, 12, 83)
}